/****
 * Header part
 ****/

.game_header_wrapper {
	
}
.game_header_wrapper .header {
	
}
.game_header_wrapper .sub_header {
	
}


/****
 * Body part
 ****/

.game_body_wrapper {
	
}
.main_titles {
	
}
.main_titles .items {
	
}
.main_titles .first {
	
}
.main_titles .last {
	
}
.main_titles .header {
	
}
.main_titles .table {
	
}
.main_titles .row {
	
}
.main_titles .cell {
	
}

.sub_titles {
	
}
.entry {
	
}
.entry > .header {
	
}
.entry .list {
	
}
.entry .item {
	
}
.entry .first {
	
}
.entry .last {
	
}
.entry .item .header {
	
}
.entry .item .description {
	
}

/****
 * Footer part
 ****/

.game_footer_wrapper {
	background-color : #000;
}
.game_footer_wrapper .list {
	
}
.game_footer_wrapper .list .item {
	display : inline-block;
	list-style : none;
}
.game_footer_wrapper .list .first {
	
}
.game_footer_wrapper .list .last {
	
}