/****
 * Header part
 ****/

br {
	display : none;
}

.lyrics_header_wrapper {
	position : relative;
	background-color : #000;
	height : 200px;
	color : #FFF;
	margin-bottom : 200px;
}
.lyrics_header_wrapper > .header {
	position : absolute;
	top : 0;
	left : 0;
	color : #FFF;
	padding : 10px 20px;
	margin : 0;
	border : solid 10px #FFF;
	min-width : 50%;
}
.lyrics_header_wrapper .sub_header {
	position : absolute;
	right : 0;
	bottom : 0;
	color : #FFF;
	padding : 10px 20px;
}
.filter_section {
	position : absolute;
	top : 200px;
	right : 20px;
	left : 20px;
}
.filter {
	border : solid 6px #000;
	border-top : none;
	padding : 4px 10px;
}
.filter > .header {
	display : inline-block;
	margin : 0;
	width : 50%;
	color : #000;
	height : 42px;
}
.filter .status {
	display : inline-block;
	width : 50%;
	float : right;
	height : 32px;
	line-height : 32px;
	margin : 5px 0;
	text-align : center;
	background-color : #000;
	color : #FFF;
	background-image : none;
}
.status.on {
	
}
.status.off {
	
}

/****
 * Body part
 ****/

.lyrics_body_wrapper {
	
}
.table {
	width : 100%;
	border-spacing : 10px 15px;
	border-collapse : separate;
}
.row {
	
}
.cell {
	margin : 10px;
	padding : 5px;
	background-color : #000;
	color : #FFF;
	text-align : center;
}
.more {
	display : block;
	padding : 0;
	margin : 0 auto;
	background-color : #000;
	color : #FFF;
	font-size : 42px;
	line-height : 42px;
	border : outset 6px #000;
}
.more:hover {
	background-color : #555;
}
.more:active {
	background-color : #000;
	border-style : inset;
}

/****
 * Footer part
 ****/

.lyrics_footer_wrapper {
	background-color : #000;
}
.lyrics_footer_wrapper .list {
	
}
.lyrics_footer_wrapper .list .item {
	display : inline-block;
	list-style : none;
}
.lyrics_footer_wrapper .list .first {
	
}
.lyrics_footer_wrapper .list .last {
	
}