body
{
background-color: #393965;
color: #FFFFFF;
font-size: 12px;
font-family: sans-serif;
padding: 10px;
}

a:link
{
color: #CCCCFF;
text-decoration: none;
}
a:visited
{
color: #9999FF;
text-decoration: none;
}
a:hover
{
color: #FFFFFF;
text-decoration: none;
}
a:active
{
color: #FFFFFF;
text-decoration: none;
}

img
{
padding-bottom: 4px;
border: 0px;
image-rendering: -moz-crisp-edges;
}

img#nolp
{
padding-bottom: 0px;
border: 0px;
}

hr
{
margin-left: 0px;
margin-right: auto;
text-align: left;
width: 50%;
}

#name
{
color: #CCCCCC;
}

div#msn
{
color: #CCCCCC;
padding-left: 10px;
padding-top: 3px;
padding-bottom: 3px;
}

div#quote
{
padding-left: 10px;
padding-top: 5px;
padding-bottom: 5px;
}

div#pause
{
padding-left: 5px;
padding-top: 2px;
padding-bottom: 5px;
}

font#link
{
color: #9999FF;
text-decoration: underline;
}

#size0
{
font-size: 8px;
}
#comment
{
font-size: 11px;
font-style: italic;
}

#size1
{
font-size: 11px;
}
#size2
{
font-size: 12px;
}
#size3
{
font-size: 16px;
font-weight: bold;
}
#size4
{
font-size: 20px;
}
#size5
{
font-size: 24px;
}

td#youtwit
{
border-width: 1px 0px 1px 0px;
}

table#youtwit
{
font-size: 14px;
background-color: #404070;
border-width: 2px;
border-style: solid;
border-color: #9999AA;
}

#xframe
{
width: 100px;
height: 100px;
}