<div class = "story_body_wrapper">
	<div class = "container">
		<h2 class = "header">
			Story title
		</h2>
		<p class = "description">
			This is a small story summary and perhaps content from previous chapters.
		</p>
		<h3 class = "sub_title">
			<span class = "pre_title">Chapter: </span>
			<span class = "chapter_number">7</span>
		</h3>
	</div>
	<div class = "section">
		<img src = "story_image.jpg" class = "image" alt = "story related image." />
		<p class = "story_content">
			This is the assocciated image text, can varry a lot in size!
		</p>
	</div>
</div>