/****
 * Header part
 ****/
@font-face {
	font-family : "Cantarell";
	src : url("font_b.ttf");
}
@font-face {
	font-family : "Smythe";
	src : url("font_a.ttf");
}
h1, h2, h3, h4, h5 {
	font-family : "Cantarell";
}
h1 {
	font-size : 32px;
}
h2 {
	font-size : 28px;
}
h3 {
	font-size : 26px;
}
h4 {
	font-size : 24px;
}
h5 {
	font-size : 20px;
}
p, a, li, ul, span, div {
	font-family : "Smythe";
	font-size : 14px;
}
* {
	margin : 0;
	padding : 0;

}
#header, #breadcrumb, #navigation, #main-content,
#page-title, #footer, .panel-separator, .submitted {
	display : none;
}
.section,
.panel-2col-stacked .panel-col-top .inside,
.panel-2col-stacked .panel-col-last .inside {
	margin : 0;
}
html, body {
	min-width : 100%;
	min-height : 100%;
}
body {
	background-image : linear-gradient(to bottom, #4D0367, #4D0367), url(day_bg.png);
	background-size : 100% 400px, 640px 452px;
	background-position : top, center;
	padding-bottom : 20px;
	background-repeat : no-repeat, repeat;
	background-attachment : scroll, scroll;
}
.panels-flexible-region.panels-flexible-region-first.panels-flexible-region-last {
	width : 100%;
}
#page-wrapper {
	max-width : 1024px;
	margin : 0 auto;
}

.menu {
	position : absolute;
	display : block;
	top : 72px;
	padding : 2px 20px;
	right : 20px;
	left : 20px;
	max-width : 1024px;
	margin : 32px auto;
}
.menu li {
	display : block;
	list-style : none;
	padding-top : 2px;
	width : 25%;
	margin : 0;
	padding : 20px 0;
	background-color : #6EB500;
	float : left;
}
.menu li:hover {
	background-color : #4D9300;
}
.menu .link {
	display : block;
	text-align : center;
	font-size : 20px;
	text-decoration : none;
	color : #EEF;
	font-family : "Cantarell";
}


.listpage_header_wrapper {
	position : relative;
	background-color : #000;
	height : 200px;
	color : #FFF;
	padding-top : 200px;
}
.listpage_header_wrapper > .header {
	position : absolute;
	top : 0;
	left : 0;
	color : #FFF;
	padding : 10px 20px;
	margin : 0;
	/*border : inset 4px #4D0367;*/
	min-width : 50%;
}
.listpage_header_wrapper .sub_header {
	position : absolute;
	right : 0;
	bottom : 0;
	color : #FFF;
	padding : 10px 20px;
	background-color : #A277B2;
	left : 0;
	text-align : right;
}
.listpage_header_wrapper > .header {
	background-color : #A277B2;
	border-bottom-right-radius : 32px;
}
.listpage_header_wrapper {
	/*background-image : linear-gradient(to bottom, #620583, #4D0367);
	background-color : #620583;*/
	background-color : rgba(162, 05, 153, 0.7);
	background-image : url(banner_tiles.png),
		linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent),
		linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
	background-size : 64px 64px, 128px 128px, 128px 128px;
}


/****
 * Body part
 ****/

.listpage_body_wrapper {
	/*max-width : 900px;*/
	margin : 0 auto;
	background-color : #4D0367;
	padding : 26px 10px;
}
.listpage_body_wrapper > .header {
	display : block;
	margin : 0 auto;;
	padding : 20px 32px;
	width : 1024px;
	max-width : 90%;
	background-color : rgba(230, 240, 200, 0.5);
	color : #FFF;
}
.listpage_body_wrapper .list {
	
}
.listpage_body_wrapper .list .item {
	position : relative;
	margin : 14px 32px;
	margin-bottom : 10px;
	padding : 1px;
	color : #FEA;
	background-color : rgba(200, 100, 0, 0.4);
	list-style : none;
}
.listpage_body_wrapper .list .first {
	
}
.listpage_body_wrapper .list .last {
	
}
.listpage_body_wrapper .list .item {
	position : relative;
}
.listpage_body_wrapper .list .item .block {
	display : inline-block;
	width : 33%;
	padding : 9px 0;
	text-align : center;
}
.listpage_body_wrapper .list .item .block + .block {
	border-left : solid 1px #FFF;
	margin-left : -1px;
}
.listpage_body_wrapper .list .item .block:first-child {
	background-color : rgba(0, 0, 0, 0.2);
}
.item .header {
	font-size : 32px;
	color : #FFF;
	margin : 10px 4px;
	background-color : rgba(230, 240, 200, 0.5);
}
.item > .header {
	margin : 0;
}
.item .description {
	
}
.item .go a {
	display : block;
}
.item .go {
	position : absolute;
	width : 120px;
	height : 18px;
	right : 32px;
	bottom : -9px;
	background-color : rgb(200, 100, 0);
	color : #000;
	border : solid 1px #4D0367;
	text-align : center;
	line-height : 18px;
}
.item .go:hover {
	border-style : outset;
}
.item .go:active {
	border-style : inset;
}
.listpage_body_wrapper .list .item a {
	background-color : transparent;
	text-decoration : none;
	color : #FFE;
}
.listpage_body_wrapper .list .item a:nth-child(2) {
	margin-left : 100px;
}
.listpage_body_wrapper .list .item span:not(.go) a {
	display : block;
	color : #FFE;
	text-decoration : none;
	font-size : 16px;
	padding : 10px 5px;
	background-color : rgba(230, 240, 200, 0.5);
}
.listpage_body_wrapper .list .item a + a {
	margin-top : 16px;
}
.unofficial {
	margin : 32px 10px;
	color : #FFE;
	text-align : center;
}

table {
	padding : 10px;
	color : #FFE;
}
tr {
	padding : 20px 0;
}
table a {
	color : #FC3;
	font-weight : 800;
	text-decoration : none;
}
table a:hover {
	text-decoration : underline;
}

	@media (max-width : 540px) {
		
		#page-wrapper h1.header {
			position : relative;
			width : auto;
			border : none;
			text-align : center;
		}
		
		.menu {
			right : 0;
			left : 0;
			padding : 2px 2px;
		}
		
		.listpage_header_wrapper > .header,
		.listpage_body_wrapper > .header {
			width : auto;
			border-radius : 0;
		}
		.listpage_body_wrapper .list .item .block a,
		.listpage_body_wrapper .list .item .block,
		.listpage_body_wrapper .list .item .block + .block {
			display : block;
			width : auto;
			border : none;
		}
		
		.item .go {
			position : relative;
			display : block;
			height : auto;
			bottom : 0;
			width : auto;
			left : 0;
			border : none;
		}
		.item .go:hover,
		.item .go:active {
			border : none;
			background-color : rgb(150, 60, 0);
		}
	}

/****
 * Footer part
 ****/

.listpage_footer_wrapper {
	/*background-color : #4D0367;
	background-image : linear-gradient(to bottom, #4D0367, #620583);*/
	background-color : #620583;
	padding-bottom : 32px;
}
.listpage_footer_wrapper .list {
	display : block;
	padding : 10px;
	margin : 0 auto;
}
.listpage_footer_wrapper .list .item {
	display : block;
	list-style : none;
	padding-top : 2px;
	max-width : 256px;
	margin : 0 auto;
}
.listpage_footer_wrapper .list .first {
	
}
.listpage_footer_wrapper .list .last {
	
}
.listpage_footer_wrapper a {
	display : block;
	text-align : center;
	font-size : 20px;
	text-decoration : none;
	color : #EEF;
	font-family : "Cantarell";
	background-color : #6EB500;
}