/****
 * Header part
 ****/

.story_header_wrapper {
	
}
.story_header_wrapper .header {
	
}
.story_header_wrapper .sub_header {
	
}


/****
 * Body part
 ****/

.story_body_wrapper {
	
}
.container {
	
}
.container .header {
	
}
.container .description {
	
}
.sub_title {
	
}
.sub_title .pre_title {
	
}
.sub_title .chapter_number {
	
}
.section {
	
}
.section .image {
	
}
.section .story_content {
	
}

/****
 * Footer part
 ****/

.story_footer_wrapper {
	background-color : #000;
}
.story_footer_wrapper .list {
	
}
.story_footer_wrapper .list .item {
	display : inline-block;
	list-style : none;
}
.story_footer_wrapper .list .first {
	
}
.story_footer_wrapper .list .last {
	
}