/****
 * Header part
 ****/
@font-face {
	font-family : "Cantarell";
	src : url("font_b.ttf");
}
@font-face {
	font-family : "Smythe";
	src : url("font_a.ttf");
}
h1, h2, h3, h4, h5 {
	font-family : "Cantarell";
}
h1 {
	font-size : 32px;
}
h2 {
	font-size : 28px;
}
h3 {
	font-size : 26px;
}
h4 {
	font-size : 24px;
}
h5 {
	font-size : 20px;
}
p, a, li, ul, span, div {
	font-family : "Smythe";
	font-size : 14px;
}
* {
	margin : 0;
	padding : 0;

}
#header, #breadcrumb, #navigation, #main-content,
#page-title, #footer, .panel-separator, .submitted {
	display : none;
}
.section,
.panel-2col-stacked .panel-col-top .inside,
.panel-2col-stacked .panel-col-last .inside {
	margin : 0;
}
html, body {
	min-width : 100%;
	min-height : 100%;
}
body {
	background-image : url(bg.jpg);
}
.panels-flexible-region.panels-flexible-region-first.panels-flexible-region-last {
	width : 100%;
}


.menu {
	position : absolute;
	display : block;
	top : 72px;
	padding : 10px 20px;
	right : 20px;
	left : 20px;
	max-width : 1024px;
}
.menu li {
	display : inline-block;
	list-style : none;
	padding-top : 2px;
	width : 25%;
	margin : 0;
	padding : 20px 0;
	background-color : #6EB500;
	float : left;
}
.menu li:hover {
	background-color : #4D9300;
}
.menu .link {
	display : block;
	text-align : center;
	font-size : 20px;
	text-decoration : none;
	color : #EEF;
	font-family : "Cantarell";
}


.story_header_wrapper {
	position : relative;
	background-color : #000;
	height : 200px;
	color : #FFF;
}
.story_header_wrapper > .header {
	position : absolute;
	top : 0;
	left : 0;
	color : #FFF;
	padding : 10px 20px;
	margin : 0;
	border : inset 4px #4D0367;
	min-width : 50%;
}
.story_header_wrapper .sub_header {
	position : absolute;
	right : 0;
	bottom : 0;
	color : #FFF;
	padding : 10px 20px;
}
.story_header_wrapper > .header,
.story_header_wrapper {
	background-image : linear-gradient(to bottom, #620583, #4D0367);
}


/****
 * Body part
 ****/

.story_body_wrapper {
	max-width : 900px;
	margin : 0 auto;
	background-color : #4D0367;
	padding : 26px 10px;
}
.container {
	position : relative;
	margin : 0 auto;
	padding-bottom : 32px;
	color : #FFF;
}
.container .header {
	text-align : center;
	background-color : rgba(230, 240, 200, 0.5);
	color : #FFF;
}
.container .description {
	padding : 20px 10px;
}
.sub_title {
	position : absolute;
	right : 0;
	bottom : 0;
	width : 25%;
}
.sub_title .pre_title {
	display : inline;
}
.sub_title .chapter_number {
	display : inline;
}
.story_body_wrapper .section {
	position : relative;
	margin : 22px auto;
	padding : 10px;
	padding-bottom : 32px;
	background-color : rgba(200, 100, 0, 0.4);
}
.story_body_wrapper .section .header,
.story_body_wrapper .section .header a {
	font-size : 26px;
	text-decoration : none;
	color : #FFE;
}
.story_body_wrapper .section .image {
	display : block;
	width : 100%;
	margin-bottom : 32px;
}
.story_body_wrapper .section .story_content {
	color : #FEA;
	font-size : 16px;
}

/****
 * Footer part
 ****/

.story_footer_wrapper {
	background-color : #4D0367;
	background-image : linear-gradient(to bottom, #4D0367, #620583);
}
.story_footer_wrapper .list {
	display : block;
	padding : 10px;
	margin : 0 auto;
}
.story_footer_wrapper .list .item {
	display : block;
	list-style : none;
	padding-top : 2px;
	max-width : 256px;
	margin : 0 auto;
}
.story_footer_wrapper .list .first {
	
}
.story_footer_wrapper .list .last {
	
}
.story_footer_wrapper a {
	display : block;
	text-align : center;
	font-size : 20px;
	text-decoration : none;
	color : #EEF;
	font-family : "Cantarell";
	background-color : #6EB500;
}