/****
 * Header part
 ****/

.listpage_header_wrapper {
	position : relative;
	background-color : #000;
	height : 200px;
	color : #FFF;
}
.listpage_header_wrapper > .header {
	position : absolute;
	top : 0;
	left : 0;
	color : #FFF;
	padding : 10px 20px;
	margin : 0;
	border : solid 10px #FFF;
	min-width : 50%;
}
.listpage_header_wrapper .sub_header {
	position : absolute;
	right : 0;
	bottom : 0;
	color : #FFF;
	padding : 10px 20px;
}


/****
 * Body part
 ****/

.listpage_body_wrapper {
	
}
.listpage_body_wrapper > .header {
	display : block;
	margin : 32px auto;;
	padding : 20px 32px;
	width : 1024px;
	max-width : 90%;
	background-color : #000;
	color : #FFF;
}
.listpage_body_wrapper .list {
	
}
.listpage_body_wrapper .list .item {
	position : relative;
	margin : 10px 0;
	margin-bottom : 40px;
	padding : 10px;
	background-color : #000;
	list-style : none;
}
.listpage_body_wrapper .list .first {
	
}
.listpage_body_wrapper .list .last {
	
}
.item .header {
	font-size : 32px;
	color : #FFF;
	margin : 10px;
}
.item .description {
	color : #FFF;
	margin : 4px 20px;
}
.item .go {
	position : absolute;
	width : 120px;
	height : 32px;
	right : 32px;
	bottom : -16px;
	background-color : #FFF;
	color : #000;
	border : solid 6px #000;
	text-align : center;
	line-height : 32px;
}
.item .go:hover {
	border-style : outset;
}
.item .go:active {
	border-style : inset;
}

/****
 * Footer part
 ****/

.listpage_footer_wrapper {
	background-color : #000;
}
.listpage_footer_wrapper .list {
	
}
.listpage_footer_wrapper .list .item {
	display : inline-block;
	list-style : none;
}
.listpage_footer_wrapper .list .first {
	
}
.listpage_footer_wrapper .list .last {
	
}